.VideoFilm {

    padding: 3% 0%;



}
/* --padding-title-section
--font-weight-bold */
.VideoFilm p{
    padding-top: 10px;

    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;



}
.VideoFilm video {
    width: 95%;
    margin: auto;
   
    /* max-height: 20rem; */
    border-radius: calc(var(--border-radius-primary) / 1.3);
}

@media (max-width: 640px) {
    /* .VideoFilm video {
  

    } */
    .VideoFilm p {
        font-size: 20px;
        text-align: center;
      }
}